:host {
  /* Change these to change the appearance of the hexaons (add these values to root element in your main css file. Uncommenting them here will disable ability to set them outside of the component) */
  /* --hex-width: 5.625rem;
  --hex-between: 0.5rem;

  --ham-line-width: 3.125rem;
  --ham-line-height: 0.313rem;
  --ham-line-transform: 0.813rem;
  --ham-line-transform-invert: -0.813rem;
  --tile-margin: 0.5rem;
  --grid-row-invert: 1.804rem;
  --svg-size: 75%; */

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width, 5.625rem) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width, 5.625rem) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;

  /* Colors */
  /* --color-hex-default: #000000;
  --color-hex-hover: #ffffff; */
  position: fixed;
  z-index: var(--set-layer, 1000);
}

.hamburger {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hamburger .line {
  width: var(--ham-line-width, 3.125rem);
  height: var(--ham-line-height, 0.313rem);
  background-color: #ecf0f1;
  display: block;
  margin: var(--tile-margin, 0.5rem) auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hexagon:hover .line {
  background-color: var(--color-menu, #cc6699);
}

:host([opened]) #hamburger-6 {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

:host([opened]) #hamburger-6 .line:nth-child(2) {
  width: 0px;
}

:host([opened]) #hamburger-6 .line:nth-child(1) {
  -webkit-transform: translateY(var(--ham-line-transform, 0.813rem));
  -ms-transform: translateY(var(--ham-line-transform, 0.813rem));
  -o-transform: translateY(var(--ham-line-transform, 0.813rem));
  transform: translateY(var(--ham-line-transform, 0.813rem));
}

:host([opened]) #hamburger-6 .line:nth-child(3) {
  -webkit-transform: translateY(var(--ham-line-transform-invert, -0.813rem))
    rotate(90deg);
  -ms-transform: translateY(var(--ham-line-transform-invert, -0.813rem))
    rotate(90deg);
  -o-transform: translateY(var(--ham-line-transform-invert, -0.813rem))
    rotate(90deg);
  transform: translateY(var(--ham-line-transform-invert, -0.813rem))
    rotate(90deg);
}

.hide {
  --hex-transition: '';
  animation: disappear 0.1s ease;
  visibility: hidden;
}

:host([opened]) .hide {
  --hex-transition: all 0.2s ease;
  transition: var(--hex-transition);
  animation: appearing 0.1s ease;
  visibility: visible;
}

@keyframes appearing {
  from {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/* Hexagons */
.hexagon-container {
  display: grid;
  grid-template-columns:
    var(--hex-width, 5.625rem) var(--hex-width, 5.625rem) var(
      --hex-width,
      5.625rem
    )
    var(--hex-width, 5.625rem);
  grid-auto-rows: calc(
    var(--hex-width, 5.625rem) - var(--grid-row-invert, 1.804rem) / 2
  );
  grid-gap: var(--hex-between, 0.5rem) var(--hex-between, 0.5rem);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  /* background-color: var(--color-hex-default); */
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width, 5.625rem);
  will-change: transform;
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: '';
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
/* .hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default, #000000);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default, #000000);
  bottom: 100%;
} */

.hexagons::after {
  border-top: var(--hex-border) solid var(--color-hex-default, #000000);
  top: 100%;
  width: 0;
}
.hexagons::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default, #000000);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover, #ffffff);
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover, #ffffff);
  border-bottom-color: var(--color-hex-hover, #ffffff);
}

.marg-left {
  margin-left: calc(
    var(--hex-width, 5.625rem) / 2 + var(--hex-between, 0.5rem) / 2
  );
}

.hexagon > svg {
  height: var(--svg-size, 75%);
  transition: var(--hex-transition);
}

/* Colors */
.color-menu {
  background-color: var(--color-menu, #cc6699);
}
.color-menu::after,
.color-menu::before {
  border-top-color: var(--color-menu, #cc6699);
  border-bottom-color: var(--color-menu, #cc6699);
}
.color-menu:hover {
  color: var(--color-menu, #cc6699);
}

@media only screen and (max-width: 600px) {
  :host {
    --hex-width: 2.8125rem;
    --hex-between: 0.25rem;
    --ham-line-width: 1.5625rem;
    --ham-line-height: 0.1565rem;
    --ham-line-transform: 0.4065rem;
    --ham-line-transform-invert: -0.4065rem;
    --tile-margin: 0.25rem;
    --grid-row-invert: 0.902rem;
    --svg-size: 90%;

    /* --hex-width: calc(var(--hex-size-small, 1)*2.8125rem);
    --hex-between: calc(var(--hex-size-small, 1)*0.25rem);
    --ham-line-width: calc(var(--hex-size-small, 100)*0.5625rem);
    --ham-line-height: calc(var(--hex-size-small, 1) * 0.1565rem);
    --ham-line-transform: calc(var(--hex-size-small, 1)*0.4065rem);
    --ham-line-transform-invert: calc(var(--hex-size-small, 1)*-0.4065rem);
    --tile-margin: calc(var(--hex-size-small, 1)*0.25rem);
    --grid-row-invert: calc(var(--hex-size-small, 1)*0.902rem);
    --svg-size: calc(var(--hex-size-small, 1)*90%); */
  }
}

.isDisabled {
  pointer-events: none;
}
