:host {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px; 
  --hex-between: 10px;
  
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  --secs: 0;
  --nchld: 0;
  
  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover:   #FFFFFF;
  --color-angular:     #DD0031;
  --color-atom:        #66595C;
  --color-bootstrap:   #563D7C;
  --color-circleci:    #343434;
  --color-css:         #1572B6;
  --color-git:         #F14E32;
  --color-gulp:        #DA4648;
  --color-haskell:     #5D4F85;
  --color-html:        #E34F26;
  --color-javascript:  #F7DF1E;
  --color-meteor:      #DE4F4F;
  --color-python:      #3776AB;
  --color-rails:       #CC0000;
  --color-sass:        #CC6699;
  --color-vuejs:       #4FC08D;
  --color-webpack:     #8DD6F9;
}

.hamburger {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

.hexagon:hover .line {
  background-color: var(--color-sass);
}

:host([opened]) #hamburger-6{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

:host([opened]) #hamburger-6 .line:nth-child(2){
  width: 0px;
}

:host([opened]) #hamburger-6 .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

:host([opened]) #hamburger-6 .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

 .hide {
  --hex-transition: '';
  animation: disappear 0.1s ease;
  visibility: hidden;
}

:host([opened]) .hide {
  --hex-transition: all .2s ease;
  transition: var(--hex-transition);
  animation: appearing 0.1s ease;
  visibility: visible;
}

@keyframes appearing {
  from {
            visibility:hidden;
            opacity: 0;
         }
     50% {
            visibility:hidden;
            opacity: 0;
         }
     to {
            visibility:visible;
            opacity: 1;
      }
}

@keyframes disappear {
  from {
            visibility:visible;
            opacity: 1;
         }
     50% {
            visibility:visible;
            opacity: 1;
         }
     to {
            visibility:hidden;
            opacity: 0;
      }
}

/* Hexagons */
.hexagon-container {
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}
  
.hexagon:hover {
  background-color: var(--color-hex-hover);
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
  }

.marg-left {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.color-sass {
  background-color: var(--color-sass);
}
.color-sass::after,
.color-sass::before {
  border-top-color: var(--color-sass);
  border-bottom-color: var(--color-sass);
}
.color-sass:hover {
  /* fill: var(--color-sass); */
  color: var(--color-sass);
}